# this won't be copied into the container when copying source. You dont need these files in the running container
node_modules/
.git/
.DS_Store
.vscode
/dist

# do not use .env files in docker, they have to be setup externally for security
.env
/env-files

# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore

